<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="description" content="Login">
        <meta name="keywords" content="login">
        <meta name="author" content="DUNCAN HSU">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="URL" content="https://www.duncan.net/log_in">
        <meta property="og:title" content="Login"/>
        <meta property="og:url" content="https://www.duncan.net/log_in"/>
        <meta property="og:description" content=""/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@duncan"/>
        
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=duncan"></script> -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="/javascripts/login.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>

        <!-- <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/icon_t_57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icon_t_124.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icon_t_72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icon_t_144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/icon_t_64.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/icon_t_128.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/icon_t_72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/icon_t_144.png" />
        <link rel="icon" type="image/png" href="/images/icon_256.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="/images/icon_128.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="/images/icon_32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/images/icon_32.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/images/icon_128.png" sizes="128x128" />
        <meta name="application-name" content="duncan"/>
        <meta name="msapplication-TileColor" content="#007777" />
        <meta name="msapplication-TileImage" content="/images/icon_128.png" />
        <meta name="msapplication-square70x70logo" content="/images/icon_64.png" />
        <meta name="msapplication-square150x150logo" content="/images/icon_128.png" />
        <meta name="msapplication-wide310x150logo" content="/images/icon_128.png" />
        <meta name="msapplication-square310x310logo" content="/images/icon_256.png" /> -->
    </head>
    <body>
        <h1>Login</h1>
    </body>
</html>

